$primary-color: #37025f;
$secondary-color: #efb810;
$dark-color: #220045;
$light-color: #ddd;

* {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

#about-us-picture > img {
  width: 100%;
}

#about-us {
  display: flex;
  justify-content: space-between;
}

#about-us-text {
  padding: 0 2em;
  flex-grow: 10;
}

#about-us-text {
  padding: 0 2em;
  flex-grow: 10;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: $dark-color;
  z-index: 1;
}

nav > a {
  padding: 1em 2em;
  text-decoration: none;
  color: $light-color;
}

#video {
  width: 100%;
}

#services {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8em 0em;
}

.service-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 10em;
  border-radius: 5em;
  margin: 1em 3em;
}

.service {
  transition: transform 0.5s;
}

.service:hover {
  transform: translate(0px, -20px);
}

.service-text {
  font-size: 1.5em;
  text-align: center;
}

.ty-5 {
  position: relative;
  top: -2em;
}

.bg-primary {
  background-color: $primary-color;
  color: $light-color;
}

.bg-dark {
  background-color: $dark-color;
  color: $light-color;
}

.bg-black {
  background-color: #111;
  color: $light-color;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 3em 1em;

  &-big {
    width: 1240px;
  }
}

p {
  font-size: 1.1em;
}

.container-big {
  max-width: 1024px;
  margin: 0 auto;
  padding: 3em 1em;
}

.new {
  margin: 2em 0;
  margin-bottom: 3em;
}

.new-date {
  color: rgb(75, 75, 75);
  font-size: 0.9em;
  margin-top: 1em;
}

#logo {
  height: 50px;
  margin: 0 1em;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 3.5em;
}

#steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 5em;
}

.step-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 10em;
  background-color: #000;
  border-radius: 5em;
  margin: 1em 2em;
  transition: 0.5s;
}

.step-circle:hover {
  background-color: $light-color;
  color: #000;
}
.step-number {
  font-size: 3em;
}

.step-text {
  text-align: center;
}

#testimonial-carousel {
  display: flex;
  align-items: center;
}

.testimonial {
  margin: 3em 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-picture {
  display: flex;
  color: $light-color;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  width: 2em;
  height: 2em;
  padding: 2em 2em;
  border-radius: 5em;
  margin: 1em 0;
}

.testimonial-person {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.5em 0;
}

.footer-items {
  display: flex;
  justify-content: space-around;
}

.footer-item {
  padding: 1em 0;
  border-bottom: solid 1px $light-color;
  width: 100%;
}

.footer-item:last-child {
  border-bottom: none;
}

.footer-list {
  width: 100%;
  padding: 2.5em;
}

#footer-logo {
  height: 100px;
  padding: 2.5em;
}

.new-picture {
  max-height: 440px;
  overflow: hidden;
  margin-bottom: 1em;
}

.new-picture > img {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  top: -200px;
}

.mb {
  &-2 {
    margin-bottom: 0.75em;
  }

  &-3 {
    margin-bottom: 1em;
  }
}

.pt-nav {
  padding-top: calc(80px + 2em);
}

.step-description {
  margin: 4em;
  text-align: center;
}

.center {
  text-align: center;
}

.btn {
  padding: 1em 2em;
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
  font-weight: bold;
  min-width: 10em;
  transition: 0.25s;
  outline: none;
}

.btn {
  cursor: pointer;
  &-primary {
    background-color: $primary-color;
    color: $light-color;

    &:hover {
      background-color: $secondary-color;
      color: $dark-color;
    }
  }

  &-secondary {
    background-color: $secondary-color;
    color: $dark-color;

    &:hover {
      background-color: $primary-color;
      color: $light-color;
    }
  }
}

#whatsapp-button {
  color: $light-color;
  background-color: #128c7e;
  position: fixed;
  top: auto;
  bottom: 1.5em;
  right: 1.5em;
  left: auto;
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.3);
  transition: all 0.25s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.row {
  display: flex;
  justify-content: space-around;
}

.video-item {
  margin: 1em;

  &-player {
    margin-top: 1em;
  }
}

.video-text {
  &-primary {
    font-size: 1.5em;
  }

  &-secondary {
    color: darkgray;
  }
}

.category-button {
  margin-top: 2em;
}
